@{
    ViewData["Title"] = "Home Page";
}


@using (Html.BeginForm("GetHTMLFromWebPage", "Home", FormMethod.Post))
{
    @Html.Label("Enter Url: ")
    @Html.TextBox("url")    
    <input type="submit" id="btnSubmit" name="Submit" />
}
@if (ViewBag.Adress != null)
    {
    <h1>@ViewBag.Adress</h1>
    }
@{
    <h2>Images:</h2>
    if (ViewBag.Imgs != null)
    {
        foreach (var img in ViewBag.Imgs)
        {
            <p>@img</p>
        }
    }
    <h2>Links:</h2>
    if (ViewBag.Urls != null)
    {
        foreach (var url in ViewBag.Urls)
        {
            <p>@url</p>
        }
    }


}

